@using TAKSuite.Data.Models
@using TAKSuite.Data.Services
@inject DocumentationService documentationService
@inject TeamService teamService
@inject IJSRuntime JS


<script>
    function copyToClipboard(text) {
    navigator.clipboard.writeText(text).then(() => {
    console.log("Testo copiato: " + text);
    }).catch(err => {
    console.error("Errore nella copia:", err);
    });
    }


    window.openNewTab = (url, title) => {
    let newTab = window.open();
    newTab.document.title = title;  // Imposta dinamicamente il titolo
    newTab.document.body.innerHTML = '<img src="' + url + '" style="width:100%; height:auto;">';  // Scrive l'immagine nel body
    };

    function downloadFile(fileDataUrl, filename) {
    const a = document.createElement("a");
    a.href = fileDataUrl;
    a.download = filename;
    a.click();
    }
</script>



@if (Owner is not null)
{
    <Button Color="ButtonColor.Primary" @onclick="() => ShowModal()">Collega documento</Button>
}

<Grid TItem="Documentation"
Class="table table-hover"
HeaderRowCssClass="bg-success text-white border-bottom-0 h5"
RowClass="GetRowClass"
Data="DocumentList"
AllowFiltering="false"
AllowPaging="false"
PageSize="20"
AllowSorting="true"
AllowRowClick="true"
OnRowDoubleClick="SelectItem"
Responsive="true">

    <GridColumns>
        <GridColumn TItem="Documentation" HeaderText="Nome" Class="align-middle" IsDefaultSortColumn="true" SortKeySelector="item => item.Name">
            @context.Name
        </GridColumn>

        <GridColumn TItem="Documentation" HeaderText="Tipo" Class="align-middle" SortKeySelector="item => item.Type">
            @context.Type
        </GridColumn>

        <GridColumn TItem="Documentation" HeaderText="Data modifica" Class="align-middle" SortKeySelector="item => item.LastModified">
            @context.LastModified
        </GridColumn>
    </GridColumns>
</Grid>

@code {
    [Parameter] public bool ShowUpload { get; set; }
    [Parameter] public bool StartupLoading { get; set; } = true;
    [Parameter] public bool NotStillLinked { get; set; } = false;
    [Parameter] public IGuidModel? Owner { get; set; }
    [Parameter] public EventCallback<Documentation> OnRowSelected { get; set; }





    ModalLinkDocument modalLinkDocument = default!;

    private async Task ShowModal()
    {
        await modalLinkDocument.ShowAsync(Owner);
    }

    private async Task OnSuccessLinkDocument(Documentation guid)
    {

    }


    private List<Documentation> DocumentList = new List<Documentation>();
    private int maxAllowedFiles = 10;
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        if (StartupLoading)
        {
            await RefreshList();
        }
        StateHasChanged();
    }
    public async Task RefreshList()
    {
        if (Owner is null)
        {
            DocumentList = await documentationService.GetAllAsync();
        }
        else
        {
            if (NotStillLinked)
            {
                DocumentList = await documentationService.GetAllDocNotLinkedToOwnerIdAsync(Owner);
            }
            else
            {
                DocumentList = await documentationService.GetAllByOwnerIdAsync(Owner);
            }
        }
    }
    private string GetRowClass(Documentation item)
    {
        return string.Empty;
    }
    private async Task SelectItem(GridRowEventArgs<Documentation> item)
    {
        await OnRowSelected.InvokeAsync(item.Item);
    }

    private async Task DeleteItem(Documentation item)
    {
        await documentationService.DeleteAsync(item.Id);
        await RefreshList();
        StateHasChanged();
    }


    private async Task OpenAttachment(Documentation attach)
    {
        var bytes = File.ReadAllBytes(attach.Path);
        if (bytes != null)
        {
            string base64String = Convert.ToBase64String(bytes);
            string title = attach.Name;  // Titolo per il PDF
            if (attach.Type == "image/jpeg" || attach.Type == "image/png")
            {
                string imageDataUrl = $"data:image/jpeg;base64,{base64String}";
                await JS.InvokeVoidAsync("openNewTab", imageDataUrl, title);
            }
            else if (attach.Type == "application/pdf")
            {
                // Crea un blob URL per il PDF
                var pdfDataUrl = $"data:application/pdf;base64,{base64String}";
                await JS.InvokeVoidAsync("downloadFile", pdfDataUrl, title);
            }
        }

    }





    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {

                var document = await documentationService.AddDocumentationAsync(file);

                if (Owner is not null && document is not null)
                {
                    await documentationService.LinkDocumentAsync(document, Owner);
                }

            }
            catch (Exception ex)
            {
                // Logger.LogError("File: {Filename} Error: {Error}",
                //     file.Name, ex.Message);
            }
        }

        await RefreshList();
        StateHasChanged();
        isLoading = false;
    }

}
