@using TAKSuite.Data.Models
@typeparam TModel where TModel : class, IGuidModel, new()

<EditForm EditContext="@editContext" OnValidSubmit="HandleOnValidSubmit">
    <DataAnnotationsValidator />
    @FormFields

    <div class="row">
        <div class="col-md-12 text-right">
            <Button Type="ButtonType.Button" Color="ButtonColor.Secondary" Class="float-end" @onclick="ResetForm">Chiudi</Button>
            <Button Type="ButtonType.Submit" Color="ButtonColor.Success" Class="float-end me-2">@(IsEditMode ? "Modifica" : "Aggiungi")</Button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public BaseEntityViewModel<TModel> Model { get; set; }
    [Parameter] public EventCallback OnSubmitted { get; set; }
    [Parameter] public bool IsEditMode { get; set; } = false;
    [Parameter] public RenderFragment FormFields { get; set; }

    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(Model);
    }

    private async Task HandleOnValidSubmit()
    {
        if (editContext.Validate())
        {
            await Model.Save();
            if (OnSubmitted.HasDelegate) await OnSubmitted.InvokeAsync();
        }
    }

    private async Task ResetForm()
    {
        await Model.Reset();
    }
}
