@using TAKSuite.Data.Models
@typeparam TItem where TItem : class, IGuidModel, new()

<Modal @ref="_modal" Size="ModalSize.Large">
    <GenericForm TModel="TItem"
                 Model="@Model"
                 IsEditMode="@(Item != null)"
                 OnSubmitted="HandleSubmitted">
        <FormFields>
            @FormFields
        </FormFields>
    </GenericForm>
</Modal>

<Button @onclick="AddButtonClick">Aggiungi</Button>

<GenericGrid TItem="TItem"
             Items="ItemList"
             OnRowDoubleClick="HandleDoubleClick">
    <ColumnDefinitions>
        @Columns
    </ColumnDefinitions>
</GenericGrid>

@code {
    [Parameter] public TItem? Item { get; set; }
    [Parameter] public BaseEntityViewModel<TItem> Model { get; set; } = default!;


    [Parameter, EditorRequired] public RenderFragment? FormFields { get; set; }
    [Parameter, EditorRequired] public RenderFragment? Columns { get; set; }

    // 👇 Metodo esterno per caricare i dati
    [Parameter, EditorRequired] public Func<Task<List<TItem>>> LoadItems { get; set; } = default!;
    
    
    
    [Parameter] public EventCallback<TItem> OnDoubleClick { get; set; }
    [Parameter] public EventCallback OnSubmitted { get; set; }

    private Modal _modal = default!;



    private List<TItem> ItemList = new();

    protected override async Task OnInitializedAsync()
    {
        await RefreshListAsync();
        
    }

    private async Task RefreshListAsync()
    {
        if (LoadItems != null)
        {
            ItemList = await LoadItems.Invoke();
        }
    }

    private async Task AddButtonClick()
    {
        await _modal.ShowAsync();
    }

    private async Task HandleSubmitted()
    {
        await _modal.HideAsync();
        await RefreshListAsync();

        if (OnSubmitted.HasDelegate)
            await OnSubmitted.InvokeAsync();
    }

    private async Task HandleDoubleClick(TItem item)
    {
        if (OnDoubleClick.HasDelegate)
            await OnDoubleClick.InvokeAsync(item);
    }
}
