@using System.Text.Json
@using TAKSuite.Data.ModelsTak
@using TAKSuite.TAK.CoT
@inject MartiApiClient MartiApiClient


<Grid TItem="MissionAtak"
Class="table table-hover border-top"
Data="MissionsList"
HeaderRowCssClass="bg-success text-white border-bottom-0  h5"
FiltersRowCssClass="bg-success text-white bg-opacity-25 border-bottom-0"
AllowFiltering="false"
AllowPaging="false"
AllowSorting="true"
AllowSelection="false"
AllowRowClick="true"
OnRowDoubleClick="OnDoubleClickHandeler"
SelectionMode="GridSelectionMode.Single"
Responsive="true">

    <GridColumns>
        <GridColumn TItem="MissionAtak" HeaderText="Nome" Class="align-middle" SortKeySelector="item => item.Name">
            @context.Name
        </GridColumn>
        <GridColumn TItem="MissionAtak" HeaderText="Descrizione" Class="align-middle" SortKeySelector="item => item.Description">
            @context.Description
        </GridColumn>
        
        @* <GridColumn TItem="MissionAtak" Class="align-middle" HeaderText="Azioni">
            <Button Color="ButtonColor.Primary" @onclick="() => View(context)"><Icon Name="IconName.PencilFill"></Icon></Button>
        </GridColumn> *@
    </GridColumns>

</Grid>

@code {
    [Parameter] public EventCallback<MissionAtak> OnDoubleClick { get; set; }
    private List<MissionAtak> MissionsList = new List<MissionAtak>();

    protected override async Task OnInitializedAsync()
    {
        // Carica i dati della missione all'inizializzazione
        MissionsList = await MartiApiClient.GetAllMissionsDataAsync(); 
        StateHasChanged();
    }
    private async Task OnDoubleClickHandeler(GridRowEventArgs<MissionAtak> args)
    {
        if (OnDoubleClick.HasDelegate) await OnDoubleClick.InvokeAsync(args.Item);
    }
}
