@page "/evententitylist"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using TAKSuite.Components.Pages.Components
@using TAKSuite.Components.Pages.EventEntityComponents
@using TAKSuite.Data.Models
@using TAKSuite.Data.Services
@inject EventEntityService service

<PageTitle>Eventi</PageTitle>
<h3>Eventi</h3>

<GenericDataTable TItem="EventEntity"
                  TModel="EventEntityModel"
                  Service="service"
                  LoadItems="LoadData"
                  Rights="BlazorReflection.Data.GridRightsType.Delete">

    <Columns>
        <GridColumn TItem="EventEntity" HeaderText="Ora" SortKeySelector="x => x.Timestamp">
            @context.Timestamp?.ToString("dd/MM HH:mm")
        </GridColumn>
        <GridColumn TItem="EventEntity" HeaderText="Titolo">
            @context.Title
        </GridColumn>
        <GridColumn TItem="EventEntity" HeaderText="Note">
            @context.Note
        </GridColumn>
    </Columns>
</GenericDataTable>

@code {

    private async Task<List<EventEntity>> LoadData()
    {
        var items = await service.GetAllAsync();
        return items.OrderByDescending(x => x.Timestamp).ToList();
    }
}
